@import "tailwindcss";

@theme {
  --color-brand-50: #e6f0ff;
  --color-brand-100: #b3d4ff;
  --color-brand-500: #339aff;
  --color-brand-600: #006bff;
  --color-brand-700: #0052cc;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #0f172a;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-feature-settings: "cv11", "ss01";
}
